.login-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    gap: 100px;
    background-color: #f3f4f6;
}

.welcome-container {
    margin-top: 10%;
    max-width: 400px;
    text-align: center;
}
p{
    color: #1B1B1B;
}

.login-box {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center;
}

.login-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.social-icons {
    margin-bottom: 20px;
}

.social-icons i {
    font-size: 24px;
    margin: 0 10px;
    color: #333;
}

.login-form .form-input {
    width: 95%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    font-size: 14px;
    color: #333333;
    transition: border-color 0.3s, background-color 0.3s;
    background-color: #ffffff;
}

.login-form .form-input:focus {
    outline: none;
    border-color: #999999;
    box-shadow: none;
}

.login-form .form-input:hover {
    border-color: #999999;
}

.login-form .form-input:-webkit-autofill,
.login-form .form-input:-webkit-autofill:hover,
.login-form .form-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
    transition: background-color 5000s ease-in-out 0s;
}

.login-form .login-button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #222;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.login-form .login-button:hover {
    background-color: #3e3e3e;
}

.login-footer {
    font-size: 13px;
    color: #1B1B1B;
    margin-top: 10px;
}

.custom-link {
    color: #222;
    text-decoration: none;
}