@import '../../styles/variables.css';

.register-container {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    gap: 100px;
    background-color: var(--background-light);
}

.welcome-container {
    margin-top: 10%;
    max-width: 400px;
    text-align: center;
}

.welcome-container .welcome-h2 {
    font-size: 25px;
    font-family: var(--font-heading);
}

.welcome-container .welcome-p {
    color: var(--eerie-black);
    font-family: var(--font-heading);

}
.welcome-container > img {
   
    object-fit: cover
    
}

.register-box {
    width: 100%;
    height: 20%;
    max-width: 200px;
    padding: 30px;
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    text-align: center;
    font-family: var(--font-subheading);
}

.register-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: var(--text-dark);
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons .button-icons{
    display: flex;
    align-items: center;
    height: 2rem;
    border: 1px solid var(--light-gray);
    background-color: var(--background-light);
    border-radius: 5px;
    color: var(--text-medium);
    padding: 0 5px;
}

.social-icons .button-icons:hover{
    border-color: var(--text-light);

}
.social-icons .button-icons:focus{
    outline: none;
    border-color: var(--text-light);
    box-shadow: none;

}
.social-icons .button-icons .p-icons{
    margin: 0 0 0 4px;
    color: var(--eerie-black);
    font-family: var(--font-subheading);
}

.register-form .form-input,
.register-form .select-options {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-medium);
    transition: border-color 0.3s;
    background-color: var(--background-color);
    font-family: var(--font-subheading);
}

.register-form .select-options {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg fill='%23757575' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 12px center;
    padding-right: 40px;
}

.register-form .form-input:hover,
.register-form .select-options:hover {
    border-color: var(--text-light);
}

.register-form .form-input:focus,
.register-form .select-options:focus {
    outline: none;
    border-color: var(--text-light);
    box-shadow: none;
}

.register-form .register-button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    font-weight: bold;
    color: var(--background-color);
    background-color: var(--text-darker);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.register-form .register-button:hover {
    background-color: var(--element-dark);
}

.register-footer {
    font-size: 12px;
    color: var(--eerie-black);
    margin-top: 12px;
}

.custom-link {
    color: var(--eclipse);
    text-decoration: none;
    font-weight: bold;
}

.custom-link:hover {
    text-decoration: underline;
}


.p-icons{
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    .register-box {
        padding: 20px;
    }

    .register-title {
        font-size: 22px;
    }

    .register-form .form-input,
    .register-form .select-options,
    .register-form .register-button {
        font-size: 14px;
        padding: 10px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .register-box {
        max-width: 40px;
        
    }
}

@media screen and (min-width: 769px) {
    .register-box {
        margin: 70px 0;
        max-width: 350px;
        padding: 20px 25px;
    }

    .register-form .form-input,
    .register-form .select-options,
    .register-form .register-button {
        font-size: 13px;
    }
}