/* === Variables === */
/* Colores */
:root {
    --color-primario: #ffffff; /* Blanco */
    --color-secundario: #000000; /* Negro */
    --color-acento-1: #e02059; /* Rosa intenso */
    --color-acento-2: #354e9e; /* Azul oscuro */
    --color-acento-3: #a9b0b3; /* Gris claro */
    --input-border: var(--color-acento-3);
    --input-background: var(--color-primario);
    --text-warm: var(--color-secundario);
    --color-error-message: #ff4d4f;
    --color-button-text: var(--color-primario);
    --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* === General === */
body {
    background-color: var(--color-primario);
    color: var(--color-secundario);
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

/* === Contenedor principal === */
.product-details__container {
    background-color: var(--color-primario);
    padding: 1rem 2rem;
    border-radius: 8px;
    box-shadow: var(--box-shadow);
    box-sizing: border-box;
}

.product-details__container-div {
    max-width: 800px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: var(--color-primario);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
}

/* === Botón de retroceso === */
.product-details__back-button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
}

.product-details__back-button svg {
    fill: currentColor;
    width: 38px;
    height: 28px;
    color: var(--color-acento-1);
}

.product-details__back-button p {
    margin: 0 5px;
    color: var(--color-secundario);
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.13px;
}

/* === Títulos === */
.product-details__title {
    font-size: 30px;
    color: var(--color-acento-1);
    margin: 0 0 1.5rem;
    text-align: center;
}

.product-details__introduction {
    text-align: center;
    color: var(--color-secundario);
    font-weight: 400;
    margin-bottom: 2rem;
    line-height: 1.7;
}

/* === Formulario === */
.product-details__form {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(2, 1fr); /* Definir dos columnas */
    grid-column-gap: 2rem; /* Espacio entre las columnas */
}

.product-details__form-group {
    display: flex;
    flex-direction: column;
}

.product-details__form-group--full-width {
    grid-column: 1 / -1; /* Para los elementos que deben ocupar toda la fila */
}

.product-details__image-preview-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}




.product-details__label {
    margin: 0 0 5px;
    font-size: 16px;
    font-weight: 400;
    color: var(--color-secundario);
}

.product-details__input,
.product-details__select,
.product-details__textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--input-border);
    border-radius: 5px;
    font-size: 16px;
    color: var(--text-warm);
    background-color: var(--input-background);
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.product-details__input:focus,
.product-details__select:focus,
.product-details__textarea:focus {
    outline: none;
    border-color: var(--color-acento-1);
    box-shadow: 0 0 0 2px rgba(224, 32, 89, 0.2);
}

.product-details__textarea {
    min-height: 100px;
    resize: vertical;
    overflow-y: auto;
}

/* === Botón de envío === */
.product-details__submit-button {
    font-size: 16px;
    font-weight: bold;
    color: var(--color-button-text);
    background-color: var(--color-acento-1);
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    grid-column: 1 / -1;
    margin: 55px 0 30px;
}

.product-details__submit-button:hover {
    background-color: rgba(158, 53, 111, 0.85);
}

/* === Subida de imágenes === */
.product-details__image-upload {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--input-border);
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    text-align: center; /* Asegura que el texto y SVG estén centrados */
}

.product-details__image-upload:hover {
    border-color: var(--color-acento-1);
}
.product-details__image-upload-b svg {
    height: 30px;
}

.product-details__image-upload svg {
    height: 30px;
}

.product-details__image-preview{
    width: 6rem;
    height: 6rem;
}


.product-details__image-preview img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.product-details__image-upload svg:hover {
    transform: scale(1.1); /* Hacer el SVG más grande al pasar el mouse */
}

.product-details__image-upload p {
    margin: 0;
    font-weight: bold;
    color: var(--color-acento-1);
}

.product-details__image-upload span {
    font-size: 12px;
    color: var(--color-acento-3);
    margin-top: 5px;
}

/* === Mensajes de error === */
.product-details__input-wrapper.error input {
    border-color: var(--color-error-message);
}

.product-details__error {
    color: var(--color-error-message);
    font-size: 14px;
    margin: 0;
}

/* === Modales y overlays === */
.loading-overlay-background,
.success-modal-overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.success-modal-content {
    padding: 3rem;
    background-color: var(--color-primario);
    border-radius: 12px;
    box-shadow: var(--box-shadow);
    text-align: center;
}

.success-modal-message {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-secundario);
}

/* === Animaciones === */
@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@keyframes ping {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    75%, 100% {
        transform: scale(2);
        opacity: 0;
    }
}
