body{
  margin: 0%;
}

.header {
  background-color: #191919;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.menu-categories {
  display: flex;
  align-items: center;
}

.menu-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.menu-button svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.categories-text {
  color: white;
  margin-left: 10px;
}

.logo-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.logo-m {
  color: #3498db;
}

.logo-g {
  color: #ED00AA;
}

.logo-s {
  color: #e67e22;
}
.logo a{
  text-decoration: none;
}

.search-bar {
  display: flex;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}

.search-bar input {
  border: none;
  padding: 10px 15px;
  margin: 0;
  width: 300px;
}

.search-bar button {
  background: none;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.search-bar button svg {
  width: 20px;
  height: 20px;
  fill: #191919;
}

.nav-links {
  display: flex;
  align-items: center;
}

.user-profile {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 8px;
}

.user-name {
  font-weight: bold;
  margin-right: 12px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  text-decoration: underline;
}

.logout-button:hover {
  color: #007bff;
}
.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-size: 14px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 15px;
  padding: 0;
}

.icon-button svg {
  width: 24px;
  height: 24px;
  fill: white;
}

.nav-link:hover,
.icon-button:hover svg {
  opacity: 0.8;
}