.reset-password-container-c {
    background-color: var(--gray-color);
    padding: 5rem 29rem 9rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
.title-set-your-new-password {
    color: var(--text-warm);
    font-size: 16px;
    letter-spacing: .48px;
    font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
    font-weight: 300;
    line-height: 1.15;
}

.success-titles {
    color: var(--color-text);
    font-size: 16px;
    letter-spacing: .48px;
    font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria, Noto Serif Light, Droid Serif, Georgia, "serif";
    font-size: 24px;
    font-weight: 300;
    line-height: 1.15;
}

.success-messages {
    padding: 40px;
    background-color: var(--color-contrast-bg);
    border-radius: 12px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
    box-sizing: border-box;
    overflow: hidden;
    width: 500px;
    min-height: 300px;
}

@media (min-width: 1200px) {
    .reset-password-container-c {
        background-color: var(--gray-color);
        padding: 5rem 29rem 9rem;
        border-radius: 8px;
        display: flex;
        justify-content: center;
    }

    .success-messages {
        padding: 40px;
        background-color: var(--color-contrast-bg);
        border-radius: 12px;
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
        box-sizing: border-box;
        overflow: hidden;
        width: 500px;
        min-height: 380px;
        text-align: center;
    }

        .success-messages svg {
        position: relative;
        top: 25px;
        width: 60px;
        height: 60px;
    }
    .title-set-your-new-password {
        color: var(--text-warm);
        font-size: 16px;
        letter-spacing: .48px;
        font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
        font-weight: 300;
        line-height: 1.15;
    }

    .success-titles {
        color: var(--color-text);
        font-size: 16px;
        letter-spacing: .48px;
        font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria, Noto Serif Light, Droid Serif, Georgia, "serif";
        font-size: 24px;
        font-weight: 300;
        line-height: 1.15;
    }


    .proceed-button {
        margin-top: 5.5rem;
        background-color: var(--color-accent);
        color: var(--color-button-text);
        border: none;
        padding: 0.75rem 1.5rem;
        border-radius: 8px;
        font-family: var(--font-body);
        font-size: var(--font-size-body-base);
        font-weight: var(--font-body-bold-weight);
        cursor: pointer;
        transition: background-color 0.3s ease;
    }


}

@media (min-width: 1820px){
    .reset-password-container-c {
            background-color: var(--gray-color);
            padding: 5rem 29rem 9rem;
            border-radius: 8px;
            display: flex;
            justify-content: center;
        }
    
        .success-messages {
            padding: 40px;
            background-color: var(--color-contrast-bg);
            border-radius: 12px;
            box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .14);
            box-sizing: border-box;
            overflow: hidden;
            width: 500px;
            min-height: 380px;
            text-align: center;
        }
    
        .success-messages svg {
            position: relative;
            top: 25px;
            width: 60px;
            height: 60px;
        }
    
        .title-set-your-new-password {
            color: var(--text-warm);
            font-size: 22px;
            letter-spacing: .48px;
            font-family: Graphik Webfont, -apple-system, Helvetica Neue, Droid Sans, Arial, "sans-serif";
            font-weight: 300;
            line-height: 1.15;
            margin-bottom: 2rem;
        }
    
        .success-titles {
            color: var(--color-text);
            font-size: 16px;
            letter-spacing: .48px;
            font-family: Guardian-EgypTT, Charter, Charter Bitstream, Cambria, Noto Serif Light, Droid Serif, Georgia, "serif";
            font-size: 24px;
            font-weight: 300;
            line-height: 1.15;
        }
    
    
        .proceed-button {
            margin-top: 5.5rem;
            background-color: var(--color-accent);
            color: var(--color-button-text);
            border: none;
            padding: 1.30rem 2.5rem;
            border-radius: 8px;
            font-family: var(--font-body);
            font-size: var(--font-size-body-base);
            font-weight: var(--font-body-bold-weight);
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        

}