@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500&family=New+York:wght@400;700&display=swap');
@import './styles/variables.css';
@font-face{
  font-family:'Railey';
  src: url('/fonts/railey.woff') format('woff');
  src: url('/fonts/railey.ttf') format('truetype'); 
}


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:'Cabin', sans-serif;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-acento-1) var(--color-secundario);
}

h1{
  color: var(--color-acento-1);
}


/* Estilos para el scrollbar global */
html {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: var(--color-acento-1) var(--color-secundario);
}

/* Estilo personalizado para el scrollbar en Webkit (Chrome, Safari) */





/* Estilo para el scrollbar cuando está en una página con fondo claro */
html,
body {
  min-height: 100%;
  overflow-x: hidden;
}

/* Asegurando que el contenido del body se pueda desplazar de forma natural */
body {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--color-acento-1) var(--color-secundario);
}
